{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀러와요! 모현의 숲</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js" defer></script>
</head>

<body>
    <!-- intro -->
    <form method="POST">
        {% csrf_token %}
        <section id="intro">
            <div class="intro__container">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="intro__logo">
                <p class="intro__content">모현의 숲에서 나는 어떤 동물일까?</p>
                <button class="intro__btn" type="button" onclick="js:next1()">테스트 시작하기</button>
            </div>
            <div class="intro__footer">
                <img src="{% static 'img/hufs.png' %}" alt="" class="intro__footer__img">
                <p class="intro__footer__p">한국외대 글로벌캠퍼스</p>
            </div>
        </section>

        <!-- opening -->
        <section id="opening">
            <div class="opening__container">
                <p class="opening__content">
                    어느날, 정신을 차려보니 <br> 한국외대 글로벌캠퍼스에 도착해있는 당신
                </p>
                <img src="{% static 'img/cherryblossom.png' %}" alt="" class="opening__img">
                <p class="opening__content">
                    용인시 모현, 산으로 둘러쌓여<br>
                    "모현의 숲"이라고도 불리는 외대 글캠,<br>
                    나는 이곳에서 어떤 마법의 동물일까?
                </p>
                <button class="opening__btn" type="button" onclick="js:next2()">Next ></button>
            </div>
        </section>

        <!-- onboard -->
        <section id="onboard">
            <div class="onboard__container">
                <div class="p__container">
                    <p class="onboard__content">
                        당신의 이름은?
                    </p>
                    <p class="onbard__content__small">(닉네임)</p>
                </div>
                <!-- <input type="text" class="onboard__name"> -->
                {{ form.nickname }}
                <button class="onboard__btn" type="button" onclick="js:next3()">Enter</button>
            </div>
        </section>

        <!-- onboard1 -->
        <section id="onboard1">
            <div class="onboard1__container">
                <p class="onboard1__q">
                    반가워요!<br>
                    여기는 어떻게 오셨나요?
                </p>
                <div class="onboard1__a">
                    <button class="onboard1__a__1" type="button" onclick="js:next4()">외대생입니다</button>
                    <button class="onboard1__a__2" type="button" onclick="js:next5()">예비 외대생입니다</button>
                    <button class="onboard1__a__3" type="button" onclick="js:next6()">놀러왔어요</button>
                </div>
            </div>
        </section>

        <!-- onboard1_1 -->
        <section id="onboard1_1">
            <div class="onboard1_1__container">
                <p class="onboard1_1__content">외붕이셨군요! 자기소개 부탁드려요</p>
                <div class="onboard1_1__num">
                    <p class="onboard1_1__num__text">학번을 입력해주세요</p>
                    <p class="onboard1_1__num__subtext">숫자만 입력해주세요 (예: 18)</p>
                    {{ form.student_number }}
                </div>
                <div class="onboard1_1__major">
                    <p class="onboard1_1__major__text">학과</p>
                    <p class="onboard1_1__major__subtext">띄어쓰기 없이 입력해주세요 (예: 컴퓨터공학과)</p>
                    <!-- <input type="text" class="onboard1_1__major__input"> -->
                    {{ form.major }}
                </div>
                <button class="onboard1_1__btn" type="button" onclick="js:next7()">모현의 숲 입장!</button>
            </div>
        </section>

        <!-- onboard1_2 -->
        <section id="onboard1_2">
            <div class="onboard1_2__container">
                <p class="onboard1_2__content">예비 샌애기로군요! <br> "모현의 숲"에 오신걸 환영합니다</p>
                <img src="{% static 'img/heyboo.png' %}" alt="" class="onboard1_2__img">
                <button class="onboard1_1__btn" type="button" onclick="js:next8()">모현의 숲 입장!</button>
            </div>
        </section>

        <!-- onboard1_3 -->
        <section id="onboard1_3">
            <div class="onboard1_3__container">
                <p class="onboard1_3__content">"모현의 숲"은 처음이겠군요! <br> 환영합니다</p>
                <img src="{% static 'img/heyboo.png' %}" alt="" class="onboard1_3__img">
                <button class="onboard1_1__btn" type="button" onclick="js:next9()">모현의 숲 입장!</button>
            </div>
        </section>

        <!-- question1 -->
        <section id="question1">
            <div class="question1__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question1__container">
                <p class="question1__q">
                    모현의 숲에 입장한 당신<br>
                    멀리서 동물이 걸어온다.
                    <br>이 동물은?
                </p>
                <div class="question1__a">
                    <button class="question1__a__1" type="button" onclick="js:next10('부엉이')">과잠 입은 부엉이</button>
                    <button class="question1__a__2" type="button" onclick="js:next10('고양이')">동네 일진 고양이</button>
                    <button class="question1__a__3" type="button" onclick="js:next10('너구리')">혼밥 하는 너구리</button>
                    <button class="question1__a__4" type="button" onclick="js:next10('아기사슴')">오픈카 타는 아기사슴</button>
                </div>
            </div>
        </section>

        <!-- question2 -->
        <section id="question2">
            <div class="question2__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question2__container">
                <p class="question2__q">
                    정신차려보니 여기가 어딘지 모르겠다.<br>
                    주변을 살펴보자, 뭐가 있지?
                </p>
                <div class="question2__a">
                    <button class="question2__a__1" type="button" onclick="js:next11('아시아')">반짝이는 바다가 보인다</button>
                    <button class="question2__a__2" type="button" onclick="js:next11('유럽')">하늘로 높게 뻗은 나무가 있다</button>
                    <button class="question2__a__3" type="button" onclick="js:next11('아메리카')">축제가 한창이다</button>
                    <button class="question2__a__4" type="button" onclick="js:next11('아프리카')">사막에 오아시스가 보인다</button>
                </div>
            </div>
        </section>

        <!-- question3 -->
        <section id="question3">
            <div class="question3__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question3__container">
                <p class="question3__q">
                    여기서 지내보기로 했다.<br>
                    당신이 지낼 장소는?
                </p>
                <div class="question3__a">
                    <button class="question3__a__1" type="button" onclick="js:next12('비온뒤땅냄새를좋아하는')">폭신한 땅속 단칸방</button>
                    <button class="question3__a__2" type="button" onclick="js:next12('집앞낚시금지')">고요한 호숫가 옆 움막</button>
                    <button class="question3__a__3" type="button" onclick="js:next12('집을사랑하는')">산 속 어둑한 동굴</button>
                    <button class="question3__a__4" type="button" onclick="js:next12('마치타잔')">나무꼭대기 오두막집</button>
                    <button class="question3__a__5" type="button" onclick="js:next12('blackmamba')">광야</button>
                </div>
            </div>
        </section>

        <!-- question4 -->
        <section id="question4">
            <div class="question4__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question4__container">
                <p class="question4__q">
                    이사 기념 집들이다!
                    <br>동물 친구들과 어떤 음식을 먹을까?
                </p>
                <div class="question4__a">
                    <button class="question4__a__1" type="button" onclick="js:next13('치맥')">치킨과 맥주</button>
                    <button class="question4__a__2" type="button" onclick="js:next13('술찌')">아메리카노와 크로플</button>
                    <button class="question4__a__3" type="button" onclick="js:next13('멋사')">삼겹살에 소주</button>
                    <button class="question4__a__4" type="button"onclick="js:next13('FLEX')">스테이크와 와인</button>
                </div>
            </div>
        </section>

        <!-- question5 -->
        <section id="question5">
            <div class="question5__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question5__container">
                <p class="question5__q">
                    이곳에서 일주일이 지났다. 
                    <br>모현의 숲에서 당신의 일상 모습은?
                </p>
                <div class="question5__a">
                    <button class="question5__a__1" type="button" onclick="js:next14('예술가')">sns에 일상을 기록한다</button>
                    <button class="question5__a__2" type="button" onclick="js:next14('개발자')">밤새도록 컴퓨터 게임을 한다</button>
                    <button class="question5__a__3" type="button" onclick="js:next14('요리사')">친구들을 위해 요리한다</button>
                    <button class="question5__a__4" type="button" onclick="js:next14('마법사')">판타지 영화를 본다</button>
                </div>
            </div>
        </section>

        <!-- question6 -->
        <section id="question6">
            <div class="question6__progressBar">
                <div class="progressBar"></div>
                <img src="{% static 'img/progressBar.png' %}" alt="" class="progressBar_img">
            </div>
            <div class="question6__container">
                <p class="question6__q">
                    오늘도 뿌듯한 하루였다. 
                    <br>하루를 끝마치며 잠든 나의 모습은?
                </p>
                <div class="question6__a">
                    <button class="question6__a__1" type="button" onclick="js:next15('잠만보')">눕자마자 잠이 든다</button>
                    <button class="question6__a__2" type="button" onclick="js:next15('새우잠')">옆으로 누워잔다</button>
                    <button class="question6__a__3" type="button" onclick="js:next15('이불도둑')">이불을 끌어안고 잔다</button>
                    <button class="question6__a__4" type="button" onclick="js:next15('코골이')">잠버릇이 고약하다</button>
                </div>
            </div>
        </section>

            <!-- loading -->
        <section id="loading" onload="js:loading_func()">
            <div class="loading__container">
                <p class="loading__content">동물로 변신 중...</p>
                <img src="{% static 'img/img1.png' %}" alt="변신" class="loading__img">
                <img src="{% static 'img/img2.png' %}" alt="변신" class="loading__img">
                <img src="{% static 'img/img3.png' %}" alt="변신" class="loading__img">
                <img src="{% static 'img/img4.png' %}" alt="변신" class="loading__img">
            </div>
        </section>
            
            <!-- result -->
        <section id="result">
            <div class="result__container">
                <p class="result__content">모현의 숲에서 당신은</p>
                <div class="result__both-img">
                    <img src="" class="result__background-img" />
                    <img src="" class="result__img" />
                </div>
                <!-- <div class="result__img"></div> -->

                <h1 class="result__sentence"></h1>
                <p class="result__description"></p>
                <div class="tag__container">
                    <button class="result__tag_1" type="button">tag</button>
                    <button class="result__tag_2" type="button">tag</button>
                    <button class="result__tag_3" type="button">tag</button>
                </div>
                <button
                    class="result__btn"
                    name="result"
                    type="submit"
                    onclick="js:send_result()"
                >더보기</button>
                <div class="result__sns">
                    <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6298c97359c75b1a"></script>
                    <div class="addthis_inline_share_toolbox"></div> -->
                    <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();" >
                        <img src="{% static 'img/icon-facebook.png' %}" alt="" class="facebook__img">
                    </a>
                    <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();" >
                        <img src="{% static 'img/icon-twitter.png' %}" alt="" class="twitter__img">
                    </a>
                    <a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();">
                        <img src="{% static 'img/icon-kakao.png' %}" alt="" class="kakao__img">
                    </a>
                </div>
                <ins class="kakao_ad_area" style="display:block;" 
                data-ad-unit    = "DAN-htTw7pargqdYkDQS" 
                data-ad-width   = "320" 
                data-ad-height  = "100"></ins> 
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
            </div>
        </section>
    </form>
</body>
</html>

