{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모여봐요! 모현의 숲</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <!-- intro -->
    <section id="intro">
        <img src="" alt="logo" class="intro__logo">
        <img src="{% static "img/cherryblossom.png" %}">
        <p class="intro__content">모현의 숲에서 나는 어떤 동물일까?</p>
        <button class="intro__btn"> <a href= "#opening">테스트 시작하기</a> </button>
        
        <p class="intro__footer">한국외대 글로벌캠퍼스</p>
    </section>

    <!-- opening -->
    <section id="opening">
        <p class="opening__content">
            어느날, 정신을 차려보니 한국외대 글로벌캠퍼스에 도착해있는 당신
        </p>
        <img src="" alt="" class="opening__img">
        <p class="opening__content">
            용인시 모현, 산으로 둘러쌓여 "모현의 숲"이라고도 불리는 외대 글캠, 나는 이곳에서 어떤 마법의 동물일까?
        </p>
        <button class="opening__next">Next ></button>
    </section>

    <!-- onboard -->
    <section id="onboard">
        <p class="onboard__content">
            당신의 이름은?
        </p>
        <input type="text" class="onboard__name">
        <button class="onboard__btn">Enter</a></button>
    </section>

    <!-- onboard1 -->
    <section id="onboard1">
        <div class="onboard1__progressBar"></div>
        <p class="onboard1__q">
            
        </p>
        <div class="onboard1__a">
            <button class="onboard1__a__1" href="#onboard1_1">외대생입니다</button>
            <button class="onboard1__a__2" href="#onboard1_2">예비 외대생입니다</button>
            <button class="onboard1__a__3" href="#onboard1_3">놀러왔어요</button>
        </div>
    </section>

    <!-- onboard1_1 -->
    <section id="onboard1_1">
        <p class="onboard1_1__content">외붕이셨군요! 자기소개 부탁드려요</p>
        <div class="onboard1_1__num">
            <p class="onboard1_1__num__text">학번</p>
            <input type="text" class="onboard1_1__num__input">
        </div>
        <div class="onboard1_1__major">
            <p class="onboard1_1__major__text">학과</p>
            <input type="text" class="onboard1_1__major__input">
        </div>
        <button class="onboard1_1__btn" href="#question1">모현의 숲 입장!</a></button>
    </section>

    <!-- onboard1_2 -->
    <section id="onboard1_2">
        <p class="onboard1_2__content">예비 샌애기로군요! "모현의 숲"에 오신걸 환영합니다</p>
        <img src="" alt="" class="onboard1_2__img">
        <button class="onboard1_1__btn">모현의 숲 입장!</button>
    </section>

    <!-- onboard1_3 -->
    <section id="onboard1_3">
        <p class="onboard1_3__content">"모현의 숲"은 처음이겠군요! 환영합니다</p>
        <img src="" alt="" class="onboard1_3__img">
        <button class="onboard1_1__btn">모현의 숲 입장!</button>
    </section>

    <!-- question1 -->
    <section id="question1">
        <div class="question1__progressBar"></div>
        <p class="question1__q">
            모현의 숲에 입장한 당신 저 멀리서 동물이 걸어온다. 이 동물은?
        </p>
        <div class="question1__a">
            <button class="question1__a__1" href="#question2">부엉이</button>
            <button class="question1__a__2" href="#question2">고양이</button>
            <button class="question1__a__3" href="#question2">너구리</button>
            <button class="question1__a__4" href="#question2">아기사슴</button>
        </div>
    </section>

    <!-- question2 -->
    <section id="question2">
        <div class="question2__progressBar"></div>
        <p class="question2__q">
            정신차려보니 여기가 어딘지 모르겠다. 주변을 살펴보자, 뭐가 있지?
        </p>
        <div class="question2__a">
            <button class="question1__a__1" href="#question3">저 멀리서 음악 소리가 들린다</button>
            <button class="question1__a__2" href="#question3">반짝이는 바다가 보인다</button>
            <button class="question1__a__3" href="#question3">하늘로 높게 뻗은 나무가 있다</button>
            <button class="question1__a__4" href="#question3">축제가 한창이다</button>
            <button class="question1__a__5" href="#question3">사막에 오아시스가 보인다</button>
        </div>
    </section>

    <!-- question3 -->
    <section id="question3">
        <div class="question3__progressBar"></div>
        <p class="question3__q">
            여기서 지내보기로 했다. 당신이 지낼 장소는?
        </p>
        <div class="question3__a">
            <button class="question3__a__1" href="#question4">폭신한 땅속 단칸방</button>
            <button class="question3__a__2" href="#question4">고요한 호숫가 옆 움막</button>
            <button class="question3__a__3" href="#question4">산 속 어둑한 동굴</button>
            <button class="question3__a__4" href="#question4">나무꼭대기 오두막집</button>
            <button class="question3__a__5" href="#question4">광야</button>
        </div>
    </section>

    <!-- question4 -->
    <section id="question4">
        <div class="question4__progressBar"></div>
        <p class="question4__q">
            이사 기념 집들이다! 동물 친구들과 어떤 음식을 먹을까?
        </p>
        <div class="question4__a">
            <button class="question4__a__1" href="#question5">치킨과 맥주</button>
            <button class="question4__a__2" href="#question5">아메리카노와 크로플</button>
            <button class="question4__a__3" href="#question5">삼겹살에 소주</button>
            <button class="question4__a__4" href="#question5">스테이크와 와인</button>
        </div>
    </section>

    <!-- question5 -->
    <section id="question5">
        <div class="question5__progressBar"></div>
        <p class="question5__q">
            이곳에서 일주일이 지났다. 모현의 숲에서 당신의 일상 모습은?
        </p>
        <div class="question5__a">
            <button class="question5__a__1" href="#question6">sns에 일상을 기록한다</button>
            <button class="question5__a__2" href="#question6">밤새도록 컴퓨터 게임을 한다</button>
            <button class="question5__a__3" href="#question6">친구들을 위해 요리한다</button>
            <button class="question5__a__4" href="#question6">판타지 영화를 본다</button>
        </div>
    </section>

    <!-- question6 -->
    <section id="question6">
        <div class="question6__progressBar"></div>
        <p class="question6__q">
            오늘도 뿌듯한 하루였다. 하루를 끝마치며 잠든 나의 모습은?
        </p>
        <div class="question6__a">
            <button class="question6__a__1" href="#result">눕자마자 잠이 든다</button>
            <button class="question6__a__2" href="#result">옆으로 누워잔다</button>
            <button class="question6__a__3" href="#result">이불을 끌어안고 잔다</button>
            <button class="question6__a__4" href="#result">잠버릇이 고약하다</button>
        </div>
    </section>

    <!-- result -->
    <section id="result">
        <h1 class="result__animal">동물 이름(주식하는 대륙의 고양이)</h1>
        <img src="" alt="" class="result__img">
        <p class="result__content">설명(당신은 돈을 많이 번 스웩있는 고양이군요?)</p>
        <button>tag</button> <button>tag</button> <button>tag</button>
        <div class="result__sns">
            <div class="result__sns__facebook"></div>
            <div class="result__sns__instagram"></div>
            <div class="result__sns__twitter"></div>
            <div class="result__sns__kakao"></div>
        </div>
        <button class="result__discord"></button>
        <button class="result__retry"></button>
    </section>
</body>
</html>
