    <!-- onboard1_1 -->
    <section id="onboard1_1">
      <p class="onboard1_1__content">외붕이셨군요! 자기소개 부탁드려요</p>
      <div class="onboard1_1__num">
          <p class="onboard1_1__num__text">학번</p>
          <input type="text" class="onboard1_1__num__input">
      </div>
      <div class="onboard1_1__major">
          <p class="onboard1_1__major__text">학과</p>
          <input type="text" class="onboard1_1__major__input">
      </div>
      <button class="onboard1_1__btn"><a href="{% url 'opening' %}">모현의 숲 입장!</a></button>
  </section>