    <!-- question6 -->
    <section id="question6">
      <div class="question6__progressBar"></div>
      <p class="question6__q">
          오늘도 뿌듯한 하루였다. 하루를 끝마치며 잠든 나의 모습은?
      </p>
      <div class="question6__a">
          <button class="question6__a__1"><a href="{% url 'result' %}">눕자마자 잠이 든다</a></button>
          <button class="question6__a__2"><a href="{% url 'result' %}">옆으로 누워잔다</a></button>
          <button class="question6__a__3"><a href="{% url 'result' %}">이불을 끌어안고 잔다</a></button>
          <button class="question6__a__4"><a href="{% url 'result' %}">잠버릇이 고약하다</a></button>
      </div>
  </section>