    <!-- question1 -->
    <section id="question1">
      <div class="question1__progressBar"></div>
      <p class="question1__q">
          모현의 숲에 입장한 당신 저 멀리서 동물이 걸어온다. 이 동물은?
      </p>
      <div class="question1__a">
          <button class="question1__a__1"><a href="{% url 'question2' %}">부엉이</a></button>
          <button class="question1__a__2"><a href="{% url 'question2' %}">고양이</a></button>
          <button class="question1__a__3"><a href="{% url 'question2' %}">너구리</a></button>
          <button class="question1__a__4"><a href="{% url 'question2' %}">아기사슴</a></button>
      </div>
  </section>