    <!-- question3 -->
    <section id="question3">
      <div class="question3__progressBar"></div>
      <p class="question3__q">
          여기서 지내보기로 했다. 당신이 지낼 장소는?
      </p>
      <div class="question3__a">
          <button class="question3__a__1"><a href="{% url 'question4' %}">폭신한 땅속 단칸방</a></button>
          <button class="question3__a__2"><a href="{% url 'question4' %}">고요한 호숫가 옆 움막</a></button>
          <button class="question3__a__3"><a href="{% url 'question4' %}">산 속 어둑한 동굴</a></button>
          <button class="question3__a__4"><a href="{% url 'question4' %}">나무꼭대기 오두막집</a></button>
          <button class="question3__a__5"><a href="{% url 'question4' %}">광야</a></button>
      </div>
  </section>