    <!-- question5 -->
    <section id="question5">
      <div class="question5__progressBar"></div>
      <p class="question5__q">
          이곳에서 일주일이 지났다. 모현의 숲에서 당신의 일상 모습은?
      </p>
      <div class="question5__a">
          <button class="question5__a__1"><a href="{% url 'question6' %}">sns에 일상을 기록한다</a></button>
          <button class="question5__a__2"><a href="{% url 'question6' %}">밤새도록 컴퓨터 게임을 한다</a></button>
          <button class="question5__a__3"><a href="{% url 'question6' %}">친구들을 위해 요리한다</a></button>
          <button class="question5__a__4"><a href="{% url 'question6' %}">판타지 영화를 본다</a></button>
      </div>
  </section>