    <!-- question4 -->
    <section id="question4">
      <div class="question4__progressBar"></div>
      <p class="question4__q">
          이사 기념 집들이다! 동물 친구들과 어떤 음식을 먹을까?
      </p>
      <div class="question4__a">
          <button class="question4__a__1"><a href="{% url 'question5' %}">치킨과 맥주</a></button>
          <button class="question4__a__2"><a href="{% url 'question5' %}">아메리카노와 크로플</a></button>
          <button class="question4__a__3"><a href="{% url 'question5' %}">삼겹살에 소주</a></button>
          <button class="question4__a__4"><a href="{% url 'question5' %}">스테이크와 와인</a></button>
      </div>
  </section>