@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-background: #fffbef;
    --color-button: #E1F0A3;
    --color-text: #412917;
    --color-text-light: #94987E;
    --color-text-medium: #7E593E;

    /* Font Size */
    --font-large: 22px;
    --font-medium: 20px;  /* 질문 */
    --font-regular: 14px;  /* 답변 */
    --font-small: 12px;

    /* Font weight */
    --weight-bold: 700;
    --weight-regular: 400;

    /* Border radius */
    --border-radius: 5px;
}

html {
    background-color: var(--color-background);
}

body {  
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

button {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: var(--border-radius);
    border: none;
    font-size: var(--font-regular);
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-text);
}

p {
    margin: 0;
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

input {
    /* em 사용 고민 */
    width: 80vw;  
    height: 30px;
    font-size: var(--font-regular);
    border: 0;
    border-radius: var(--border-radius);
    outline: 0.5px solid var(--color-text-light);
}

/* intro */

#intro {
    background: url(temp/background.png) center/cover no-repeat;
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.intro__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro__logo {
    width: 300px;
}

.intro__btn {
    margin: 50px 0;
    width: 250px;
    height: 65px;
}

.intro__footer {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(500%);
}

.intro__footer__img {
    width: 20px;
    margin-right: 10px;
}

.intro__footer__p {
    font-size: var(--font-small);
    color: var(--color-text-light);
}

/* opening */

#opening {
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.opening__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opening__content {
    line-height: 200%;
    margin-bottom: 20px;
}

.opening__img {
    width: 80vw;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

.opening__btn {
    width: 250px;
    height: 65px;
}

/* onboard */

#onboard {
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.onboard__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.onbard__content__small {
    margin-left: 5px;
    font-size: var(--font-small);
    color: var(--color-text-light);
}

.onboard__name {
    margin-top: 30px;
    margin-bottom: 50px;
}

.onboard__btn {
    width: 40vw;
    height: 50px;
}

/* onboard1 */

#onboard1 {
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.onboard1__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1__q {
    margin-bottom: 50px;
}

.onboard1__a__1 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

.onboard1__a__2 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

.onboard1__a__3 {
    width: 80vw;
    height: 50px;
}

/* onboard1_1 */

#onboard1_1 {
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.onboard1_1__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1_1__num__subtext {
    font-size: var(--font-small);
    color: var(--color-text-medium);
}

#onboard1_2 {
    display: none;
}

#onboard1_3 {
    display: none;
}

/* question1 */

#question1 {
    display: block;
    text-align: center;
    height: 176vw;
    position: relative;
}

.question1__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question1__progressBar {
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-bottom: 50px;
    position: fixed;
    top: -15%;
}

.question1__now {
    height: 10px;
    width: calc(100/6*1%);
    background-color: var(--color-button);
}

.question1__q {
    margin-bottom: 50px;
    line-height: 150%;
}

.question1__a__1, .question1__a__2, .question1__a__3, .question1__a__4 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question2 */

#question2 {
    display: none;
    text-align: center;
    height: 176vw;
    position: relative;
}

.question2__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question2__progressBar {
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-bottom: 50px;
    position: fixed;
    top: -15%;
}

.question2__now {
    height: 10px;
    width: calc(100/6*2%);
    background-color: var(--color-button);
}

.question2__q {
    margin-bottom: 50px;
    line-height: 150%;
}

.question2__a__1, .question2__a__2, .question2__a__3, .question2__a__4, .question2__a__5 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#question6 {
    display: none;
}

#loading {
    display: none;
}

#result {
    display: none;
}

@media screen and (min-width: 768px) {
    
}