@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-background: #fffbef;
    --color-button: #E1F0A3;
    --color-text: #412917;
    --color-text-light: #94987E;
    --color-text-medium: #7E593E;

    /* Font Size */
    --font-large: 22px;
    --font-medium: 20px;  /* 질문 */
    --font-regular: 14px;  /* 답변 */
    --font-small: 12px;

    /* Font weight */
    --weight-bold: 700;
    --weight-regular: 400;

    /* Border radius */
    --border-radius: 5px;
}

html {
    background-color: var(--color-background);
}

body {  
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

button {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: var(--border-radius);
    border: none;
    font-size: var(--font-regular);
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

h1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-text);
}

p {
    margin: 0;
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-text);
    line-height: 150%;
}

a {
    text-decoration: none;
}

input {
    /* em 사용 고민 */
    width: 80vw;  
    height: 30px;
    font-size: var(--font-regular);
    border: 0;
    border-radius: var(--border-radius);
    outline: 0.5px solid var(--color-text-light);
}

/* intro */
/*
#intro {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top, bottom, left, right;
    display: block;
    text-align: center;
    height: 180vw;
    position: relative;
}*/

.intro__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro__logo {
    width: 300px;
}

.intro__btn {
    margin: 50px 0;
    width: 200px;
    height: 45px;
}

.intro__footer {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(300%);
}

.intro__footer__img {
    width: 20px;
    margin-right: 10px;
}

.intro__footer__p {
    font-size: var(--font-small);
    color: var(--color-text-light);
}

/* opening */

#opening {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.opening__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opening__content {
    margin-bottom: 20px;
}

.opening__img {
    width: 80vw;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

.opening__btn {
    width: 250px;
    height: 65px;
}

/* onboard */

#onboard {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.onboard__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.onbard__content__small {
    margin-left: 5px;
    font-size: var(--font-small);
    color: var(--color-text-light);
}

.onboard__name {
    margin-top: 30px;
    margin-bottom: 50px;
}

.onboard__btn {
    width: 40vw;
    height: 50px;
}

/* onboard1 */

#onboard1 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.onboard1__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1__q {
    margin-bottom: 50px;
}

.onboard1__a__1 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

.onboard1__a__2 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

.onboard1__a__3 {
    width: 80vw;
    height: 50px;
}

/* onboard1_1 */

#onboard1_1 {
    display: none;
    height: 180vw;
    position: relative;
}

.onboard1_1__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1_1__content {
    text-align: center;
    margin-bottom: 80px;
}

.onboard1_1__num__subtext {
    font-size: var(--font-small);
    color: var(--color-text-medium);
    margin-bottom: 10px;
}

.onboard1_1__num__input {
    margin-bottom: 30px;
}

.onboard1_1__major__subtext {
    font-size: var(--font-small);
    color: var(--color-text-medium);
    margin-bottom: 10px;
}

.onboard1_1__major__input {
    margin-bottom: 30px;
}

.onboard1_1__btn {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* onboard1_2 */

#onboard1_2 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.onboard1_2__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1_2__content {
    margin-bottom: 20px;
}

.onboard1_2__img {
    width: 80vw;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

/* onboard1_3 */

#onboard1_3 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.onboard1_3__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onboard1_3__content {
    margin-bottom: 20px;
}

.onboard1_3__img {
    width: 80vw;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

/* question1 */

#question1 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question1__img {
    width: 30px;
}

.question1__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

#question1 .progressBar {
    height: 10px;
    width: calc(100/6*1%);
    background-color: var(--color-button);
}

.question1__q {
    margin-bottom: 50px;
}

.question1__a__1, .question1__a__2, .question1__a__3, .question1__a__4 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question2 */

#question2 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question2__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

#question2 .progressBar {
    height: 10px;
    width: calc(100/6*2%);
    background-color: var(--color-button);
}

.question2__img {
    width: 40px;
    top: -20px;
}

.question2__q {
    margin-bottom: 50px;
}

.question2__a__1, .question2__a__2, .question2__a__3, .question2__a__4, .question2__a__5 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question3 */

#question3 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question3__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

#question3 .progressBar {
    height: 10px;
    width: calc(100/6*3%);
    background-color: var(--color-button);
}

.question3__img {
    width: 40px;
    top: -20px;
}

.question3__now {
    height: 10px;
    width: calc(100/6*3%);
    background-color: var(--color-button);
}

.question3__q {
    margin-bottom: 50px;
}

.question3__a__1, .question3__a__2, .question3__a__3, .question3__a__4, .question3__a__5 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question4 */

#question4 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question4__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

#question4 .progressBar {
    height: 10px;
    width: calc(100/6*4%);
    background-color: var(--color-button);
}

.question4__img {
    width: 40px;
    top: -20px;
}

.question4__now {
    height: 10px;
    width: calc(100/6*4%);
    background-color: var(--color-button);
}

.question4__q {
    margin-bottom: 50px;
}

.question4__a__1, .question4__a__2, .question4__a__3, .question4__a__4 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question5 */

#question5 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question5__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

.question5__img {
    width: 40px;
    top: -20px;
}

#question5 .progressBar {
    height: 10px;
    width: calc(100/6*5%);
    background-color: var(--color-button);
}

.question5__q {
    margin-bottom: 50px;
}

.question5__a__1, .question5__a__2, .question5__a__3, .question5__a__4 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* question6 */

#question6 {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.question6__progressBar {
    display: inline-block;
    height: 10px;
    width: 80vw;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-button);
    margin-top: 50px;
    margin-bottom: 50px;
}

.question6__img {
    width: 40px;
    top: -20px;
}

#question6 .progressBar {
    height: 10px;
    width: calc(100/6*6%);
    background-color: var(--color-button);
}

.question6__q {
    margin-bottom: 50px;
}

.question6__a__1, .question6__a__2, .question6__a__3, .question6__a__4 {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* loading */

#loading {
    display: none;
    text-align: center;
    height: 180vw;
    position: relative;
}

.loading__container {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* result */

#result {
    display: none;
    text-align: center;
    position: relative;
}

.result__container {
    padding: 20px;
}

.result__content {
    margin-bottom: 20px;
}

.result__img {
    margin: auto;
    width: 80vw;
    height: 200px;
    background-color: var(--color-button);
}

.result__animal {
    padding: 10px;
    font-family: 'yg-jalnan';
}

.result__description {
    padding: 10px;
    margin-bottom: 30px;
}

.result__tag {
    margin-bottom: 10px;
}

.result__sns {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__discord {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

.result__retry {
    width: 80vw;
    height: 50px;
    margin-bottom: 10px;
}

/* animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media screen and (min-width: 768px) {
    
}